[tool.ruff]
line-length = 88

target-version = "py313"

exclude = [
    ".git",
    ".mypy_cache",
    ".ruff_cache",
    ".venv",
    "__pypackages__",
    "build",
    "dist",
    "venv",
]

[tool.ruff.lint]
select = ["E", "W", "F", "I", "B"]

ignore = []

fixable = ["ALL"]
unfixable = []

[tool.ruff.format]
quote-style = "single"

indent-style = "space"

line-ending = "auto"